* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("https://dlcdnrog.asus.com/rog/media/156718576721.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .container {
    min-height: 90%;
    min-width: 60%;
    color: red;
    font-family: monospace;
    background-color:black;
    padding: 1rem;
    border:2px solid;
    border-color: red;
    border-radius: .5rem;
  }
  
  .h1 {
    font-size: 15px;
    position: absolute;
    top: 2rem;
  }
  
  .quotedisplay {
    font-size: 17px;
    padding:1rem;
  }
  
  .quoteinput {
    resize: none;
    width: 700px;
    height: 500px;
    color: red;
    font-size: 16px;
    background: transparent;
    border-color:red;
    margin: auto;
    border-radius: .5rem;
    border: 2px solid;
  }
  
  .quoteinput:focus {
    border-color: red;
  }
  
  .timer {    /*for a div with a id, you need to put a dot beforehand*/
    font-size: 70px;
    top: 4.5rem;
  }
  
  
  .correct {
    color: chartreuse;
  }
  
  .incorrect {
    color: red;
  }
  